*{
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #F8F8F8;
    padding-top: 0.1px;
}

#nav{
    height: 13vh;
    width: 100%;
    /* background-color: crimson; */
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1{
    height: 100%;
    width: 18%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Monument';
    font-size: 40px;
    letter-spacing: -1px;
   }

#nav h2{
 height: 100%;
 width: 22%;
 /* background-color: yellow; */
 display: flex;
 align-items: center;
 justify-content:center;
 border-right: 2px solid #000;
 font-size: 23px;
 font-weight: 600;
}

#nav h2:nth-last-child(2){
    width: 28%;
}
#nav h2:nth-last-child(1){
    width: 10%;
}