*{
    margin: 0;
    padding: 0;
    font-family: 'Plain Light';
    box-sizing: border-box;
    color: #fff;

}

html,body{
    height: 100%;
    width: 100%;
}

#crsr{
    height: 2.3vw;
    width: 2.3vw;
    border-radius: 50%;
    /* background-color: white; */
    border: 1px solid rgba(255, 255, 255, 0.812);
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;

    
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color:#030303;
    padding: 25vh 10vw;
}

.line{
    /* background-color: crimson; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}

#line1-part1 h5{
    /* background-color: red; */
    font-size: 4vw;
    text-align: right;
    width: 4ch;
}
.line h1{
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase;
}

.line h2{
    font-size: 5vw;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes nowAnime {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "Plain Light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 0.1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 0.1px #fff;
        font-weight:500;
        color: transparent;
        opacity: 0;
    }
}
#main{
    background-color: #030303;
    position: relative;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}

#page1 #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#page1 #nav-part2 h4{
    font-weight: 400;
    font-size: 1.3vw;
}

.hero{
  
    width: 72%;
    margin-left: 27%;

}

.hero:nth-child(2){
    margin-top: 10vh;
}

.hero h1{
    font-size: 6.5vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
}


